<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51664431008-2olgnfsq03knr24m8vd1inbhcicfsn2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51664431008-2olgnfsq03knr24m8vd1inbhcicfsn2h</string>
	<key>API_KEY</key>
	<string>AIzaSyCdd2UmLySg3Rb4tZTrfHh-wNmoSxEvLtI</string>
	<key>GCM_SENDER_ID</key>
	<string>51664431008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ptecho.sandboxpay</string>
	<key>PROJECT_ID</key>
	<string>ptecho-sandbox-payments</string>
	<key>STORAGE_BUCKET</key>
	<string>ptecho-sandbox-payments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51664431008:ios:662e05b96702ef1d5e66c5</string>
</dict>
</plist>